h1, p {
  font-family: Lato;
}




.cardImage{
  max-width:100%;
  max-height:100%;
  border: 5px solid white;
}
.draftedCardImage{
  max-width: 12%;
  max-height: 12%;
}
.draftedCardImage:hover{

  scale: 1.1;
  
 }
 
.cardImage:hover{
 border: 5px solid rgb(228, 211, 79);
 scale: 1.1;
}

.cardInfo {
  max-width:100%;
  max-height:100%;
  text-align: center;
  white-space: pre-wrap;
  background-color: rgba(110, 159, 214, 0.734);

font-family: "Times New Roman", Times, serif;
font-size: 20px;
letter-spacing: -0.8px;
word-spacing: 1px;
color: #000000;
font-weight: 400;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
grid-area: cardInfo;
}

.container {  
  margin-right: 1%;
  margin-top: 3%;
  display: grid;
  grid-template-columns: 0.4fr 1.60fr; 
  grid-template-rows: 1.3fr 1.3fr 0.4fr;
  gap: 20px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "bigPreview draftArea"
    "bigPreview draftArea"
    ". .";
  
}

.bigPreview {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "previewCardImage"
    "cardInfo";
  grid-area: bigPreview;
}

.previewCardImage { 
  max-width:100%;
  max-height:100%;
  grid-area: previewCardImage; }


.draftArea {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.7fr 1.3fr;
  gap: 20px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "cardDisplay"
    "draftedCards";
  grid-area: draftArea;
  max-width:100%;
  max-height:100%;
}

.cardDisplay {
  max-width:100%;
  max-height:100%;
  padding-top: 2%;
  padding-right: 2%;
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". . . . ."; 
  grid-area: cardDisplay; 
}

.cardCover { 
background-color: brown;
visibility: visible;

}

.draftedCards { grid-area: draftedCards; }
