h1, p {
  font-family: Lato;
}

html {
  background-color: rgb(61, 61, 61);
}

.cardImage{
  height: 100%;
  width: 100%;
  margin-left: 15px;
  margin-right: 15px;
  max-width: 240px;

}
.draftedCardImage{
  max-width: 12%;
  max-height: 12%;
  min-width: 20px;
  min-height: 40px;
  
}
.draftedCardImage:hover{
  scale: 1.1;
 }
 
.cardImage:hover{
 
 scale: 1.2;
 cursor: pointer;
}

.cardInfo:hover{
  overflow-y: scroll;
 }

 .fakebutton{
  grid-area: link;
  text-align: center;
  border: 5px solid #000000;
  background-color: #199319;
  color: white;
  padding: 5px 15px;
  text-decoration: none;
  
}
.link{
  grid-area: link;
}

.cardInfo {
  order: 1;
  flex: 1;
  max-width: 320px;
  max-height: 500px;
  min-height: 500px;
  min-width: 320px;
  overflow: hidden;
  text-align: center;
  white-space: pre-wrap;
  background-color: rgba(110, 159, 214, 0.734);

font-family: "Times New Roman", Times, serif;
font-size: 20px;
letter-spacing: -0.8px;
word-spacing: 1px;
color: #000000;
font-weight: 400;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
grid-area: cardInfo;
}



.previewCardImage {
  height: 100%;
  width: 100%;
  max-height: 400px;
  max-width: 320px;
  min-width: 320px;
  order: 1;
  background-color: rgb(0, 0, 0);
  
   }



.cardDisplay {
  padding: 20px;
  justify-content: center;
  width: 100%;
  display: flex;
  background-color: rgba(245, 105, 105, 0.686);
  order: 2;
  
}

.container {
  display: flex;
  margin-top: 20px;
}
.container2{
  display: flex;
}


.draftedCards { 
  flex: 3;
  order: 2;
  background-color: #b0f5b0;
}