h1, p {
  font-family: Lato;
}



.cardContainer{
  position: absolute;
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". . . . ."; 
  grid-area: randomcards; 
}

.card{
  
  height: 245px;
  width: 170px;
}

.cardImage{
  max-width:100%;
  max-height:100%;
  object-fit: fill;
}

.card:hover{
 border: 5px solid goldenrod;
 height: 235px;
  width: 160px;
}